<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type='text/css' href="/stylesheet/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
					<div class="input">

						</div>
						<div class="output">
							<div class="source">
								<select name="inputcur" id="">
									<option value="EUR">EUR</option>
									<option value="USD">USD</option>
									<option value="CHF">CHF</option>
								</select>
							</div>
							<div class="switch">
								<button>switch</button>
							</div>
							<div class="result">
									<select name="outputcur" id="">
											<option value="EUR">EUR</option>
											<option value="USD">USD</option>
											<option value="CHF">CHF</option>
										</select>
			
							</div>
							<div class="apply">
			
							</div>
						</div>
			</div>
			
		</div>
		
		

	</body>
</html>